<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="navbar">
      <a href="{{ url_for('home') }}" style="color: lightseagreen">Home</a>
      <a href="{{ url_for('services') }}">Services</a>
      <a href="{{ url_for('contact') }}">Contact</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="content">
      <h1>Welcome to Our Conference Management System</h1>
      <p>
        This is the home page of our web-based hotel booking system for
        conferences.
      </p>
      <p>
        Explore our services and find the best deals for your next conference.
      </p>
    </div>
  </body>
</html>

