<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="home.html">Home</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <a href="#" style="color: lightseagreen">Login</a>
    </div>
    <div class="portal">
      <p></p>
      Login Portal
      <p></p>
      <label for="Email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="client@company.net"
      /><br />
      <label for="password">Password:</label>
      <input
        type="text"
        id="password"
        name="password"
        placeholder="********"
      /><br />
      <button>Login</button><br />
      <button onclick="window.location.href='signUp.html'">Sign Up</button>
      <p></p>
    </div>
  </body>
</html>
